<!DOCTYPE html>
<html lang="en">
<head>
  <title>Some Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <header>
    <div class="container">
    <aside>
        <nav>
          <ul>
            <li><a href="#nowhere">Pricing</a></li>
            <li><a href="#nowhere">About</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </aside>
      <a id="nav-toggle" href="#!" class="position"><span></span></a>

      <p>Some Company</p>
    </div>
  </header>

  <div id="headline">
    <div class="container-fluid">
      <h1> Hello, world! </h1>
        <p> 
        <%= Tagline.all.sample['saying'] %>
        </p>
      <button id="button1" type="button">Learn more &#8680 </button>
    </div>
  </div>
    
  <div id="redefining-container">
    <div class="container-fluid">      
      <div id="redefining-text">
        <h2> Redefining the web </h2>   
      </div>       
        <img src="assets/layers.png" id="layers-image">
      <div id="redefining-text">
          <p> 
            <%= Tagline.all.sample['saying'] %>
          </p>
          <p> 
            <%= Tagline.all.sample['saying'] %>
          </p>
        <button id="button2" type="button">Learn more </button>
      </div>
    </div>
  </div>

  <div id="services-container">
    <div class="container-fluid">
        <h2> Services </h2>
        <p>
          <%= Tagline.all.sample['saying'] %>
        </p>
        <br><div id="services-data"></div>
        </div>
    </div>
  </div>

    
  <div id="team-container">
    <div class="container-fluid">
      <h2> Our Team </h2>
      <p>
        <%= Tagline.all.sample['saying'] %>
      </p>
      <br><div id="team-member"></br>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "#{User.first['picture']}" %>
      <p id="name"> <%= User.first['name'] %> </p>
      <p id= "title"> <%= User.first['title'] %> </p>
      <p id= "quote"> <%= User.first['quote'] %> </p>
    </div>

    <div class="item">
      <%= image_tag "#{User.second['picture']}" %>
      <p id="name"> <%= User.second['name'] %> </p>
      <p id="title"> <%= User.second['title'] %> </p>
      <p id="quote"> <%= User.second['quote'] %> </p>
    </div>

    <div class="item">
      <%= image_tag "#{User.third['picture']}" %>
      <p id="name"> <%= User.third['name'] %> </p>
      <p id="title"> <%= User.third['title'] %> </p>
      <p id="quote"> <%= User.third['quote'] %> </p>
    </div>

    <div class="item">
      <%= image_tag "#{User.fourth['picture']}" %>
      <p id="name"> <%= User.fourth['name'] %> </p>
      <p id="title"> <%= User.fourth['title'] %> </p>
      <p id="quote"> <%= User.fourth['quote'] %> </p>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      </div>
    </div>
  </div>
</div>

  <div id="sponsors-container">
    <div class="row">
      <div id="sponsors-logos">
        <img src="assets/logo-nike.svg" width="50px" height="50x">
        <img src="assets/logo-ms.svg" width="50px" height="50x">
        <img src="assets/logo-github.svg" width="50px" height="50x">
      </div>
    </div>
  </div>

  <div id="contact-container">
    <div class="container-fluid">
      <div id="contact-text">
      <h2> Contact </h2>
        <p>
          <%= Tagline.all.sample['saying'] %>
        </p>
      </div>
      <br><div id="form-format">
        <form>
          <input type="text" name="name" placeholder="Name"><p></p>
          <input type="text" name="email" placeholder="Email"><p></p>
          <input type="text" name="subject" placeholder="Subject"><p></p>
          <textarea type="text" name="message" placeholder="Message"></textarea><p></p>
          <button id="button3" type="button">Submit </button>
        </form>
      </div>

      <div id="address-data"></div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">    
      <div id="footer-data1"></div>
      <div id="footer-data2"></div>
    </div>
  <div id="copyright"> © SomeCompany.com </div>
  </footer>

<div class="section group">
  <div class="col span_1_of_3">
  This is column 1
  </div>
  <div class="col span_1_of_3">
  This is column 2
  </div>
  <div class="col span_1_of_3">
  This is column 3
  </div>
</div>

</body>
</html>